.codicon-cloud-upload:before {
  content: "\\eac3";
}

html {
  font-family: var(--fontsSans);
  background-color: var(--contextMenuBg);
  color: var(--fgDefault);
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}

header {
  display: flex;
  flex-direction: column;
  gap: var(--space4);
}

@media (min-width: 864px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  display: flex;
  gap: var(--space6);
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 1px; /* hacky workaround so height doesn't overshoot viewport */
}

header {
  padding: var(--space7);
  border-bottom: 1px solid var(--borderSubtle);
}

h1 {
  font-size: var(--fontSizesXxlarge);
  font-weight: var(--fontWeightsSansMedium);
  margin: 0;
  padding: 0;
}

.eject-version-frame {
  width: fit-content;
}

.eject-version-wrapper {
  display: flex;
  gap: 2rem;
  padding-bottom: 1rem;
}

.eject-version-wrapper > ts-button {
  flex-grow: 1;
}
