
html {
  font-family: var(--fontsSans);
  background-color: var(--bgCanvas);
  color: var(--fgDefault);
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,Ubuntu,Cantarell,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}


@media (min-width: 864px) {
  header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.menu {
  display: flex;
  gap: var(--space6);
}

main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  height: 1px; /* hacky workaround so height doesn't overshoot viewport */
}

header {
  padding: var(--space7);
  border-bottom: 1px solid var(--borderMuted);
}

.content {
  display: flex;
  height: 100%;
}


.monaco-wrapper {
  display: flex;
  height: 50%;
  border-radius: var(--border-radius-editor);
  border-left: 1px solid var(--borderMuted);
  margin: 0 auto;
  position: relative;
}

.monaco-container {
  flex-grow: 1;
  position: relative;
  border-top-right-radius: var(--border-radius-editor);
  border-bottom-right-radius: var(--border-radius-editor);
}

.monaco-wrapper:first-child {
  border-bottom: 1px solid var(--fgDefault);
}

.monaco-container::before {
  position: absolute;
  font-size: 14px;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  z-index: 1;
}

.monaco-wrapper.config .monaco-container::before {
  content: "config/functions file";
}

.monaco-wrapper.output .monaco-container::before {
  content: "input/output file";
}
